body {
  background-color: #faf2e4;
  margin: 0 15%;
  font-family: sans-serif;
  }
.article-content {
    line-height: 2.0;
    color: #2e2f3e;
    overflow-wrap: break-word;
}
h1 {
  text-align: center;
  font-family: serif;
  font-weight: normal;
  text-transform: uppercase;
  border-bottom: 1px solid #57b1dc;
  margin-top: 30px;
}

h2 {
  color: #d1633c;
  font-size: 1em;
}
